* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

canvas {
  position: absolute;
}

.social {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
}

.social > a {
  text-decoration: none;
  color: white;
}
